<h2>Registro de estudiantes</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"><b>Nombre:</b></label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre del estudiante"
          />
          <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
            Debe de ser de 3 letras
          </span>
        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"><b>Patronus:</b></label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="patronus"
            placeholder="Patronus del estudiante"
          />
          <span class="form-text text-danger" *ngIf="campoEsValido('patronus')">
            Debe ser de 3 letras
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"
          ><b>Fecha de nacimiento:</b></label
        >
        <div class="col-sm-9">
          <input
            type="date"
            class="form-control"
            formControlName="edad"
            placeholder="Fecha de nacimiento del estudiante"
          />

          <span class="form-text text-danger" *ngIf="campoEsValido('edad')">
            La edad del estudiante debe ser mayor a 0
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"><b>Foto:</b></label>
        <div class="col-sm-9">
          <input
            type="file"
            class="form-control"
            formControlName="foto"
            placeholder="Foto del estudiante"
          />
          <span class="form-text text-danger" *ngIf="campoEsValido('foto')">
            Seleccione una foto del estudiante
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nuevo Estudiante</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of estudiante | ObjToArray">
      <td>
        {{ item }}
      </td>
    </tr>
  </tbody>
</table>
