<h2>Listas</h2>
<hr />
<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    Lista de las casas
  </li>
  <li routerLink="students" routerLinkActive="active" class="list-group-item">
    Lista de estudiantes
  </li>
  <li routerLink="staff" routerLinkActive="active" class="list-group-item">
    Lista de profesores
  </li>
  <li routerLink="new-students" routerLinkActive="active" class="list-group-item">
    Registro estudiante
  </li>
</ul>
